<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="icon" href="{% static 'image/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
    <title>비밀번호 찾기</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <div class="container">
            <div class="row" id="content">
                <!-- 로고 부분 -->
                <div class="col-lg-4" id="img">
                    <a href="/"><img src="{% static 'image/CBNU__1_-removebg-preview.png' %}" alt="Logo"></a>
                </div>
                <div class="col-lg-8 px-5 pt-0">
                    <div class="title">
                        <h2>비밀번호 찾기</h2>
                        <h5>충북대학교 study comunity 에 오신것을 환영합니다.</h5>
                        <hr>
                    </div>
                    <form action="{% url 'accounts:Forget' %}", method = "POST">{% csrf_token %}
                        {% if error %}
                        <div>
                            <div class="alert alert-danger">
                            {{ warning }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-auto">
                            <input type="text",id = "username", name = "username", placeholder="username" class="form-control my-3 p-2" required>
                        </div>
                        <div class="col-auto">
                            <button type="sumbit" class ="btn1 my-3 p-2">비밀번호 찾으러가기!</button>
                        </div>
                        <div class="under_text">
                            <p><a href="{% url 'accounts:Login' %}">비밀번호가 기억났어요!</a></p>
                            <p>계정이 없나요? <a href="{% url 'accounts:SignUp' %}">회원가입</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>