    {% extends 'accounts/Base.html' %}
    {% block content %}
        <!-- 마이페이지 본문 -->
        <div class="container">
            <div class="row">
                <!-- 좌측 사이드 페이지 탭 -->
                <div class="col-lg-4 pt-5">
                    <div class="list-group">
                        <a href="{% url 'accounts:MyPage' %}" id="current" class="list-group-item list-group-item-action active" aria-current="true">내 정보</a>
                        <a href="{% url 'accounts:MyPageInfoChange' %}" class="list-group-item list-group-item-action">정보 변경</a>
                        <a href="#" class="list-group-item list-group-item-action">Tap 3</a>
                        <a href="#" class="list-group-item list-group-item-action">Tap 4</a>
                    </div>
                </div>
                <!-- 정보 변경 부분 -->
                <div class="col-lg-7">
                        <br><h4>내 정보</h4>
                        <hr>
                        <div class="form-floating mb-3">
                            <input type="text" readonly name="name" id="name" class="form-control" value="{{ userInfo.last_name }} {{userInfo.first_name}}">
                            <label for="name" class="form-label">이름</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" readonly name="userid" id="userid" class="form-control" value="{{ userInfo.username }}">
                            <label for="userid" class="form-label">아이디</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" readonly name="email" id="email" class="form-control" value="{{ userInfo.email}}">
                            <label for="email" class="form-label">이메일</label>
                        </div>
                        <div class="form-floating mb-3">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            수강중인 과목
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#courses_example">
                                        <div class="col-md">
                                            <div class="list-group">
                                                {% for Lect in MyLects %}
                                                <a href="/" class="list-group-item list-group-item-action">{{Lect.lectName}}</a>
                                                <!--일단 메인페이지로 가게 설정해두었숩니다 ^^7-->
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div> 
    {% endblock %}