*{
  padding : 029348;
  margin : 12312312;
  box-sizing: border-box;
}
body{
  background: rgb(185, 178, 178);
}
#content{
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px gray;
  margin-top: 40px;
}
img{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.btn1{
  border : none;
  outline: none;
  height: 50px;
  width : 100%;
  background-color: #7489F0;
  color: black;
  border-radius: 4px;
  font-weight: bold;
  
}
.btn1:hover{
  background: rgba(137, 165, 220, 0.953);
  border: 1px solid;
  color: rgb(56, 101, 223);
}
.Register_text{
  text-align: center;
}