{% extends 'accounts/mypage/Base.html' %}
{% block content %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .card-img-overlay {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .card {
            color: rgb(0, 0, 0);
        }

        div#wrap div {
            display: inline-block;
            border-radius: 16px;
            background-color: #ffebb5;
            box-shadow: inset 0 0 8px #deb13a;
            margin: 50px;
            padding: 15px;
        }

        .write td {
            border-bottom: 1px solid #444444;
            padding: 10px;
        }

        .hot {
            color: red
        }
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    </style>
</head>

<body style="background-color: rgb(255, 255, 255);">
    <!--네비게이션 바 있을자리-->
    <header>
        <section class="text-center">
            <div class="card bg-dark text-">
                <img src="{% static 'image/book.jpg' %}" class="card-img" alt="...">
                <div class="card-img-overlay ">
                    <h1 class=" card-title fw-bold my-5" style="font-size:700%; text-shadow : 3px 3px 3px #ffffff;">CBNU
                        Study
                    </h1>

                </div>
            </div>
        </section>
    </header>
    <div class="container" id="wrap" style="text-align : center;">
        <div>
            <h2 style="font-family: 'Black Han Sans', sans-serif" ;>인기 게시물</h2>
            <table width="500" height="300">
                <tr class="write">
                    <td class="hot">hot</td>
                    <td onclick="location.href='{%url 'board:Vision'%}'" style="cursor:pointer;">(글 이름)</td>
                    <!--게시글 링크-->
                    <td>좋아요 : </td>
                    <td onclick="location.href='{%url }'">(과목)</td><!--과목 게시판 링크-->
                </tr>
                <tr class="write">
                    <td class="hot">hot</td>
                    <td onclick="location.href='{%url 'board:Vision'%}'" style="cursor:pointer;">(글 이름)</td>
                    <td>좋아요 : </td>
                    <td onclick="location.href='{%url }'">(과목)</td><!--과목 게시판 링크-->
                </tr>
                <tr class="write">
                    <td class="hot">hot</td>
                    <td onclick="location.href='{%url 'board:Vision'%}'" style="cursor:pointer;">(글 이름)</td>
                    <td>좋아요 : </td>
                    <td onclick="location.href='{%url }'">(과목)</td><!--과목 게시판 링크-->
                </tr>
                <tr class="write">
                    <td class="hot">hot</td>
                    <td onclick="location.href='{%url 'board:Vision'%}'" style="cursor:pointer;">(글 이름)</td>
                    <td>좋아요 : </td>
                    <td onclick="location.href='{%url }'">(과목)</td><!--과목 게시판 링크-->
                </tr>
            </table>
        </div>

        <div>
            <h2 style="font-family: 'Black Han Sans', sans-serif" ;>수강중인 과목</h2>
            <table width="500" height="300">

                <tr class="write">
                    <td>1</td>
                    <td onclick="location.href='{%url 'board:Vision'%}'" style="cursor:pointer;">과목 이름 : </td>
                    <!--과목 이름에 해당하는 과목 게시판링크를 달아주세요.-->
                    <td>인원수 : </td>
                    <td>추천 : </td>
                </tr>
                <tr class="write">
                    <td>2</td>
                    <td onclick="location.href='{%url 'board:Vision'%}'" style="cursor:pointer;">과목 이름 : </td>
                    <td>인원수 : </td>
                    <td>추천 : </td>
                </tr>
                <tr class="write">
                    <td>3</td>
                    <td onclick="location.href='{%url 'board:Vision'%}'" style="cursor:pointer;">과목 이름 : </td>
                    <td>인원수 : </td>
                    <td>추천 : </td>
                </tr>
                <tr class="write">
                    <td>4</td>
                    <td onclick="location.href='{%url 'board:Vision'%}'" style="cursor:pointer;">과목 이름 : </td>
                    <td>인원수 : </td>
                    <td>추천 : </td>
                </tr>
            </table>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>
{% endblock %}