*{
    padding : 029348;
    margin : 12312312;
    box-sizing: border-box;
}
body{
    background: rgb(185, 178, 178);
}
#content{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px gray;
    margin-top: 72px;
    min-height: 600px;
    padding: 48px;
    align-items: center;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 300px;
}
#img{
    padding-left:48px; 
    padding-right:0px;
}
.btn1{
    border : none;
    outline: none;
    height: 50px;
    width : 100%;
    background-color: #7489F0;
    color: black;
    border-radius: 4px;
    font-weight: bold;  
}
.btn1:hover{
    background: rgba(137, 165, 220, 0.953);
    border: 1px solid;
    color: rgb(56, 101, 223);
}
.btn_cancel{
    border : none;
    outline: none;
    height: 50px;
    width : 100%;
    background-color: #f9fafd;
    color: black;
    border-radius: 4px;
    border : 2px solid #000000;
    font-weight: bold;
}
.btn_cancel:hover{
    background: rgb(199, 195, 195);
    border : 1px solid #000000;
    color: rgb(0, 0, 0);
}
.title{
    text-align: center;
}
.under_text{
    color:gray;
}