

.card .list{
    text-align: center;
}
.interest_subject{
    text-align: center;
}

.container p.hot_logo{
    color: red
}
div#popular-post {
    border: 1px solid black;
    width: 900px;
}

.container h3 a{
    text-align: center;
}
.container .list{
    display: flex;
}
.container .list p {
    flex-grow: 1;
}
.container .list p.post-title {
    flex-grow: 5;
}
a.list{
    text-decoration: none;
    color:black
}
.recent_debate_room .card .container{
    width:440px;
    border: 1px solid black;
    text-align : center;
    margin-top:20px;
}
.interest_subject .card .container{
    width:440px; 
    border: 1px solid black;
    text-align : center;
    margin-top:20px;
}
h3,h4{
    text-align : center;
}
.d1 ,.d2{
    border: 1px solid red;
    text-align : center;
    margin: 20px;
}


