.card-img {
    height: 80vh;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    
    color: rgb(0, 0, 0);
    
}

div#wrap div {
    display: inline-block;
    border-radius: 16px;
    background-color: #ffebb5;
    box-shadow: inset 0 0 8px #deb13a;
    margin: 50px;
    padding: 15px;
}

.write {
    border-bottom : 1px solid gray;
    padding: 10px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 900;
}

.hot {
    color: red;
    font-size :large;
}

.write:last-child {
    border-bottom: none;
    padding: 10px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 900;
}

body{
    background-color: gray;
}

.card-img {
    opacity: 0.5;
}

.card{
    background-color: black;
}
#disallow-to-drag {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }

#card_title{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#addbtn{
    border:1px solid #858484;
    border-radius: 7px 7px 7px 7px;
}