.selector-for-some-widget {
    box-sizing: content-box;
} 
body{
    background: rgb(185, 178, 178);
}
.row{
    background: white;
}
.list
.btn1{
        border : none;
        outline: none;
        height: 50px;
        width : 100%;
        background-color: #7489F0;
        color: black;
        border-radius: 4px;
        font-weight: bold;
        
    }
#current{
    background-color: #A4B0ED;
    border-color: #A4B0ED;
}
#nav_item{
    min-width: 100px;
    font-size:24px;
    font-weight:bold;
    justify-content: center;
}
.greet_user{
    font-weight: bold;
    padding-right: 10px;
}