{% extends 'Base.html' %}
{% block content %}
        <!-- 마이페이지 본문 부분 -->
    <div class=container>
        <div class="row">
            <div class="col-lg-4 pt-5">
                <div class="list-group">
                    <a href="{% url 'accounts:MyPage' %}" class="list-group-item list-group-item-action">내 정보</a>
                    <a href="{% url 'accounts:MyPageInfoChange' %}" class="list-group-item list-group-item-action">정보 변경</a>
                    <a href="{% url 'accounts:ManageSub' %}" id="current" class="list-group-item list-group-item-action active" aria-current="true">강의 관리</a>
                </div>
            </div>
            <div class="col-lg-7 pt-5">
                <h5>강의 관리</h5>
                <hr>
                <div class="form-floating">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" name="search_subject" id="search_subject" class="form-control" value="">
                            <span class="input-group-btn">
                                <button class="btn btn-outline-secondary" type="button" id="search_btn">검색</button>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="form-floating" id="select_subject" style="overflow:auto; height: 300px;">
                    <table>
                        <td style="min-width: 100px;">
                            <input class="form-check-input" type="radio" value="" name="condition" id="subname">
                            <label class="form-check-label" for="subname">강의명</label>
                        </td>
                        <td>
                            <input class="form-check-input" type="radio" value="" name="condition" id="profname">
                            <label class="form-check-label" for="profname">교수명</label>
                        </td>
                    </table>
                    <table class="table" id="sublist">
                        <!-- 이 부분 lectlist db 반복해서 출력 해주면 될 듯 id를 각각 따로 설정해줄 수 있으면 좋을 듯 -->
                        <tr style="justify-content: center;">
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="subject_1"> 
                            </td>
                            <td style="width:60%;">
                                <label class="form-check-label" for="subject_1">자료구조</label>
                            </td>
                            <td style="width:40%; text-align: center;">
                                <label class="form-check-label" for="subject_1">이의종</label>
                            </td>
                        </tr>
                        <tr style="justify-content: center;">
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="subject_1"> 
                            </td>
                            <td style="width:60%;">
                                <label class="form-check-label" for="subject_1">자료구조</label>
                            </td>
                            <td style="width:40%; text-align: center;">
                                <label class="form-check-label" for="subject_1">이의종</label>
                            </td>
                        </tr>

                    </table>

                </div>
                <div class="add_btn">
                    <a href="#"><button class="btn btn-outline-secondary" type="button">추가하기</button></a>
                </div>
            </div>
        </div>


{% endblock %}