{% extends 'Base.html' %}
{% block content %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/boardMain.css' %}" />
</head>

<body>
    <div class="container" id="total">
        <div id="title">
            <h1>과목 게시판</h1>
        </div>

        <div class="hsd">
            <div class=container>
                {% for lect in lectList %}
                <div class="row">
                    <div class="row">
                        <div class="col">
                            <h5 style="font-weight: bold;">번호/총 수</h5>
                        </div>
                        <div class="col ">
                            <h5 style="font-weight: bold;">과목이름</h5>
                        </div>
                        <div class="col">
                            <h5 style="font-weight: bold;">교수이름</h5>
                        </div>
                        <div class="col">
                            <h5 style="font-weight: bold;">이동버튼</h5>
                        </div>

                    </div>
                </div>
                <div id="bigRow" class="row" style="align-items: center;">

                    <div class="row" style="text-align: center">
                        <div class="col">
                            <a>번호 / 총 수</a>
                        </div>
                        <div class="col ">
                            <a>소프트웨어 실전 영어</a>
                        </div>
                        <div class="col">
                            <a>아지즈나스리디노프</a>
                        </div>
                        <div class="col">
                            <a href="#" class="button">들어가기 </a>
                        </div>

                    </div>
                </div>
                <!-- asdf -->
                <div id="bigRow" class="row" style="align-items: center;">
                    <div class="row" style="text-align: center">
                        <div class="col">
                            <a>번호 / 총 수</a>
                        </div>
                        <div class="col ">
                            <a>소프트웨어 실전 영어</a>
                        </div>
                        <div class="col">
                            <a>아지즈나스리디노프</a>
                        </div>
                        <div class="col">
                            <a href="#" class="button">들어가기 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
{% endblock %}