{% extends 'Base.html' %}
{% block content %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/boardMain.css' %}" />

</head>

<body>
    <div class="container" id="total">
        <div id="title">
            <h1>과목 게시판!</h1>
        </div>

        <div class="hsd">
            <div class=container>
                {% for lect in lectList %}
                <div class="row">
                    <div class="col-sm-9" style="display: flex; justify-content: flex-end;">
                        <div class="row">
                            <div class="col-4 col-sm-3">
                                <a>{{forloop.counter}} / {{lectCount}}</a>
                            </div>
                            <div class="col-4 col-sm-6">
                                <a>{{lect.lectName}}</a>
                            </div>
                            <div class="col-4 col-sm-3">
                                <a>{{lect.professor}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div id="button" class="mem">
                            <a href="post/{{lect.lectName}}" class="button">들어가기 </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}